*{
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
      
}

header{
      position: relative;
      margin-left: 105px;
      margin-right: 100px;
      height:100vh;
      
}
nav{
     margin-top: 20px;
     
     display: flex;
     justify-content: space-between;
}

.logo {
      
      height:150px;
      width:150px;
      margin-top: 10px;
}
.logo img{
      width:100%;
}
.font{
      
    
      width:147px;
      height:150px;
}
.font i{
      font-size: 30px;
      padding-left: 35px;
      padding-top: 10px;
}
.font span{
      font-size: 20px;
}

.link{
     width:72%;
   transition: 1.5s;
}
.link ul{
      list-style: none;
    
     padding-top: 15px;
}
.link ul li{
     display: inline-block;
      margin-right:8px ;
      margin-left: 9px;
      transition: 1.5s;
      font-size: 29px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link ul li:last-child{
      margin-left: 400px;
      margin-top: 20px;
}

.hidden{
      border:2px solid #000;
      position: absolute;
      font-size: 16px;
      visibility: hidden;
}
.hidden table{
      border-spacing: 10px;
      width:500px;
}
th span{
      font-size: 20px;
      border-bottom: .3px dotted brown;
      
}
li:first-child:hover .hidden{
      visibility: visible;
      z-index: 8;
}


.aft{
      padding: 5px 15px;
      text-decoration: none;
      color:#000;
}
header .image{
      width:100%;
      height:72%;
      background-image: url(../images/bac1.jpg);
      background-size: 100% 100%;
}
.infoweb{
      width:500px;
      height:30%;
     padding:100px 150px;
}
.infoweb p{
      font-size: 35px;  
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(255, 255, 255);
}
button{
      border-radius: 5px;
      border:none;
      padding:10px;
      margin-top: 20px;
      margin-left: 20px;
}
.aft{
      transition: 2s;
      position: relative;
}
.aft:after{
      content:"";
      position: absolute;
      width: 0;
      height:0;
      bottom:0;
      left:0;
      top:0; 
      right:0;
     border-left: 2px solid red;
     border-top: 2px solid red;
}
.aft:hover::after{
height:100%;
width: 100%;
transition: .5s;
}
.aft:before{
      content:"";
      position: absolute;
      width: 0;
      height:0;
      left:0;
      top:0;
      right:0;
      bottom:0;
     border-right: 2px solid rgba(193, 5, 5, 0.693);
     border-bottom: 2px solid rgba(193, 5, 5, 0.693);
}
.aft:hover::before{
      width:100%;
      height: 100%;
      transition: .5s;
      transition-delay: .3s;
}
.info{
      text-align: center;
      font-size: 28px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.line{
      width: 100px;
      height:3px;
      background-color: rgb(98, 6, 6);
      margin: auto;
      margin-top: 10px;
      border-radius: 25%;
      -webkit-border-radius: 25%;
      -moz-border-radius: 25%;
      -ms-border-radius: 25%;
      -o-border-radius: 25%;
}
.info:hover .line{
     width: 180px;
     transition: .5s;
     -webkit-transition: .5s;
     -moz-transition: .5s;
     -ms-transition: .5s;
     -o-transition: .5s;
}
.first_product{
      margin-left: 105px;
      margin-right: 100px;
      height:100vh;
     
      /* border:2px solid; */
}
.first-div-first-section{
      height: 50%;
      /* border:2px solid blue; */
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
}

.div-child-first{
      /* border:2px solid ; */
      height:80%;
      width: 24%;
      
      
}
.div-child-first img{
      width:100%;
      height:80%;
}
.info-child{
      float: left;
}
.info-child p{
      opacity: 0.6;
      
}
.info-child span{
      font-size: 20px;
      font-weight: bold;
}
.div-child-first i{
      background-color: rgb(98, 6, 6);
      color: white;
      font-size: 14px;
      padding:8px;
      margin-left: 23px;
      margin-top: 8px;
      float: right;
      visibility: hidden;
}
.div-child-first:hover i{
      visibility: visible;
}
.clear{
      clear: both;
}
.second-div-first-section{
      /* border:2px solid; */
      height: 45%;
      margin-top: 10px;
      
      display: flex;
      justify-content: space-between;
}

.div-child-second1{
      width: 50%;
      /* border:2px solid blue; */
      height: 100%;
     padding:20px 8px 0px 20px;
     background-color: rgb(208, 211, 213);
     

}

.div-child-second1 i{
      font-size: 50px;
      color: brown;
      
}
.div-child-second1 p{
     margin: 50px 0px ;
     opacity: .8;
     font-family: 'Lucida Sans', 'Lucida Sans Regular',  Verdana, sans-serif;
}
.div-child-second1 h2{
      display: inline-block;
      font-size: 35px;
}
.div-child-second1 .under-line{
      width: 60px;
      height:2px;
      background-color: rgb(122, 50, 50);
      /* margin:8px; */
      
}
.coleection-line{
      display: flex;
  height:15%;
  width: 48%;
     justify-content:space-between;
  
      /* border:2px solid red; */
     margin-left: auto;
}
.child2-div2-section1 , .child3-div2-section1{
      width:23%;
      padding:15px; 
      /* color:rgb(156, 2, 2); */
      /* background-color: rgb(208, 211, 213); */
}
.child2-div2-section1{
      background-image: url(../images/bmw.JPG);
      background-size:100% 100%;
      color:white;
}
.child3-div2-section1{
      background-image: url(../images/head-lights-car.jpg);
      background-size:100% 100%;
   
}
.child3-div2-section1:hover{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
}
.child2-div2-section1:hover{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
}

/*END SECTION PRODUCT ONE*/

footer{
      width:100%;
      height:450px;
      text-align: center;
      background-color: rgb(92, 91, 91);
}
footer .image {
      width:20%;
      height:35%;
      margin: auto;
     
}
footer .image img{
      width: 100%;
      margin-top: 100px;
      height:100%;
      border-radius: 8px;
}
footer h4{
      margin-top: 10px;
      font-size: 24px;
       font-family: Georgia, 'Times New Roman', Times,sans-serif ;
      color: rgb(204, 210, 216);
}
.contact ul{
      margin-top:120px ;
}
.contact ul li{
     margin-left: 10px;
      display: inline-block;
}
.contact ul li a{
      font-size: 30px;
      color: rgb(122, 50, 50);

}
.contact ul li a:hover {
     
      color:rgb(255, 255, 255)

}
.info-product-two{
      height:200px;
      text-align: center;
}
.info-product-two h2{
      font-size: 30px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.collect:hover .line{
      width:160px;
}
.info-product-two ul{
      margin-top: 40px;
}
.info-product-two ul li{
      display: inline-block;
      margin-left: 20px;
      font-size: 22px;
      font-weight: lighter;
}
.product-two{
      margin-left: 105px;
      height:150vh;
      /* border:2px solid rgb(74, 17, 188); */
     
      width:100vw;
      display: flex;
      flex-flow: row wrap;
}
.collection-two{
      perspective: 700px;
      /* border:2px solid green; */
      height: calc(55vh + 60px)
}
.div-parent{
      transform-style: preserve-3d;
      position: relative;
      transition: 1.5s;
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s;
}
.front , .back, .div-parent  {
      width:27vw;
      height:55vh;
      position: absolute;
     
}

.front img{
      width:100%;
      height:100%;
}
.back{
      z-index: -1;
      background-image: url(../images/touta.JPG);
      background-size: 100% 100%;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
}
.back ul{
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      height:100%;
}
.back ul li{
      font-size: 30px;
      margin-left: 25px;
      background-color: rgb(128, 9, 9);
     
      width:40px;
      text-align: center;
      padding:4px;
}
.back ul li a i{
      color:white;
}
.front{
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
}
.stars{
     /* border:2px solid red; */
     margin-top: 55vh;
     width:30vw;
     height:60px;
}
.div-parent:hover{
      transition:2.5s;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -webkit-transition:2.5s;
      -moz-transition:2.5s;
      -ms-transition:2.5s;
      -o-transition:2.5s;
}
.stars i{
     color:yellow;
}
.stars .far{
     
      color: #000;
}
.stars p{
      font-size: 18px;
      font-style: italic;
}
.stars span{
      font-size: 25px ;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


hr{
      
      margin: 80px 100px 100px 105px;
}
/*START MOTEREK*/
.mothreka{
      height:20vh;
      margin-top: 10px;
      margin-left: 105px;
      margin-right: 100px;
      /* border:2px solid black; */
      display: flex;
      justify-content: space-around;
      text-align: center;
}
.parent-mothreka{
      /* border:2px solid blue; */
      height: 90%;
}
.parent-image{
      /* border:2px solid rgb(18, 181, 94); */
      height:100%;
      padding:10px;
}
.image-mothreka1{
      padding:10px;
      background: url(../images/motahreka.jpg) no-repeat;
      background-position:  center 4vh;
      background-size: 40px;
      height:80%;
      transition: .5s;
      /* border:2px solid red; */
}
.info-mothreka p{
      font-size: 18px;
      font-weight: 900;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info-mothreka span{
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      opacity:.7;
}
.image-mothreka1:hover{
      background-position:  center -10vh;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}
.vertical-line{
      width:.5px;
      height:80%;
      background-color: rgb(128, 9, 9);
      
      margin-top: 5px;
}
.image-mothreka2{
      padding:10px;
      background: url(../images/motahreka.jpg) no-repeat;
      background-position:  center -23vh;
      background-size: 40px;
      height:80%;
      transition: .5s;
      /* border:2px solid red; */
}
.image-mothreka2:hover{
      background-position: center -37vh;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}
.image-mothreka3{

      padding:10px;
      background: url(../images/motahreka.jpg) no-repeat;
      background-position:  center -50vh;
      background-size: 40px;
      height:80%;
      transition: .5s;
      /* border:2px solid red; */
}
.image-mothreka3:hover{
      background-position: center -64vh;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}
.image-mothreka4{

      padding:10px;
      background: url(../images/motahreka.jpg) no-repeat;
      background-position:  center -77vh;
      background-size: 40px;
      height:80%;
      transition: .5s;
      /* border:2px solid red; */
}
.image-mothreka4:hover{
      background-position: center -91vh;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}
.image-mothreka5{

      padding:10px;
      background: url(../images/motahreka.jpg) no-repeat;
      background-position:  center -104vh;
      background-size: 40px;
      height:80%;
      transition: .5s;
      /* border:2px solid red; */
}
.image-mothreka5:hover{
      background-position: center -118vh;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}
